<!DOCTYPE html>
<html lang="en" ng-app="fighters">

<head>
	<meta charset="UTF-8">
	<title>Worriors Of The Ring</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="style.css">

</head>

<!-- Controller controls the tag  that the ng attribute is in -->

<body ng-controller="fightersControllers">

	<div class="navbar navbar-default">

		<h1>Warriors Of The Ring</h1>
		<div id="searchBar">

			<!-- Used ng-model attribute to control the target scope veriable-->

			<form>
				<input ng-model="target" type="text" name="search" placeholder="Search..">
			</form>
		</div>
	</div>

	<div class="container">

		<div class="col-md-2">
			<h4>Fighters</h4>

			<!-- ng repeat-repeats whatever tag it is located within-->
			<!-- Used the target scope veriable created as a filter parameter. -->

			<div ng-repeat="fighter in fighters | filter: target">
				{{ fighter.firstName }} {{ fighter.lastName }}

				<!-- img ng-src is how I linked the image-->

				<img ng-src="{{ fighter.pictureLink }}"></img>
			</div>
		</div>

		<div class="col-md-4">
			<h4>Stats</h4>
			<p>hello world hello world hello world hello world hello world hello world hello world hello world hello world.</p>
		</div>

		<div class="col-md-4">
			<h4>Fights</h4>
			<p>hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world</p>
			<iframe width="200" height="100" src="https://www.youtube.com/embed/6Glyrl0-cSk" frameborder="0" allowfullscreen>
			</iframe>
		</div>
	</div>
	</div>

	<script src="./app.js" type="text/javascript"></script>
	<script src="fightersController/fightersControllers.js"></script>
</body>

</html>