<!DOCTYPE html>
<html lang="en" ng-app="fighters">

<head>
	<meta charset="UTF-8">
	<title>Worriors Of The Ring</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="style.css">

</head>

<!-- ng-controller' controls the tag that the ng attribute is in ( which is the body) -->

<body hidden ng-controller="fightersControllers">

	<div class="navbar navbar-default">

		<h1 hidden>Warriors Of The Ring</h1>
		<div id="searchBar">

			<!-- Used ng-model attribute to control the target scope veriable-->

			<form>
				<input ng-model="target" type="text" name="search" placeholder="Search..">
			</form>
		</div>
	</div>

	<div class="container">

		<div class="col-md-4">
			<h4>Fighters</h4>

			<!-- ng repeat-repeats whatever tag it is located within-->
			<!-- Used the target scope veriable created as a filter parameter. -->

			<div class="fighters" ng-repeat="fighter in fighters | filter: target">

				<!-- <p>First Name: {{ fighter.firstName }}</p>
				<p>Last Name: {{ fighter.lastName }}</p> -->
				<p>{{ fighter.fullName }}</p>
				<p>Home Town: {{ fighter.homeTown }}</p>
				<p>Weight: {{ fighter.weight }}</p>
				<p>Height: {{ fighter.height }}</p>
				<p>Fight Stance: {{ fighter.stance }}</p>
				<p>Wins: {{ fighter.wins }}</p>
				<p>Loses: {{ fighter.loses }}</p>



				<!-- img ng-src is how I linked the image to the fighter-->



				<img class="fighterPicture" ng-src="{{ fighter.pictureLink }}">

				<button ng-click="updateFighter (fighter)">Udate</button>
				<button ng-click="deleteFighter(fighter)">Delete</button>

			</div>
		</div>

		<div class="col-md-2">
			<h4>Stats Update</h4>

			<!-- Allows user to update fighters info-->

			<form>

				<p>Home:<input type="text" ng-model="newLocation"></p>
				<p>Weight:<input type="text" ng-model="newLbs"></p>
				<p>Stance:<input type="text" ng-model="newStance"></p>

				<!--Use ng click to create update fighters stats for each fighter-->

				<button class="btn btn-default" type="submit" ng-click="upDateCurrentFighter()">Submit</button>
			</form>


		</div>

		<div class="col-md-2">
			<h4>Fight Date</h4>

			<!-- Created a calendar where dates can be inputted-->

			<input type="date" ng-model="calendar">
			<button class="btn btn-default" type="submit" ng-click="createDate()">Button</button>
		</div>

		<div class="col-md-4">
			<h4>Videos</h4>
			<iframe width="200" height="100" src="https://www.youtube.com/embed/hjOCfuB8W2U" frameborder="0" allowfullscreen></iframe>

			<iframe width="200" height="100" src="https://www.youtube.com/embed/I8wIyrRPn-M?list=PLMqfaJY7EutbWVzf2iZ5eyLDOkCN92FN0"
				frameborder="0" allowfullscreen></iframe>



		</div>
	</div>


	<script src="./app.js" type="text/javascript"></script>
	<script src="fightersController/fightersControllers.js"></script>

</body>

</html>